{% extends 'crud/base.html' %}
{% block body %}
<form class="form-inline"  action="create" method="POST">
    {% csrf_token %}
    <div class="form-group">
        <label for="fullname">Fullname</label>
        <input type="text" name="fullname" class="form-control" style="width:30%;" required="required"/><hr>
        <div>
            <label for="food">Food</label>
            <input type="text" name="food" class="form-control" style="width:15%;" required="required"/>
            <label for="clothes">Clothes</label>
            <input type="text" name="clothes" class="form-control" style="width:15%;" required="required"/>
            <label for="housekeeping">Housekeeping</label>
            <input type="text" name="housekeeping" class="form-control" style="width:15%;" required="required"/>
            <label for="medicine">Medicine</label>
            <input type="text" name="medicine" class="form-control" style="width:15%;" required="required"/>
            <label for="fun">Fun</label>
            <input type="text" name="fun" class="form-control" style="width:15%;" required="required"/>
         </div><hr>
         <div class="col-md-12" style="text-align: center;">
            <button type="submit" class="btn btn-sm btn-primary"><span class="glyphicon glyphicon-plus"></span> ADD</button> 
         </div>
        

    </div>
</form>
<br />
<table class="table table-bordered">
    <thead class="alert-warning">
        <tr>
            <th>NAME</th>
            <th>Food</th>
            <th>Clothes</th>
            <th>Housekeeping</th>
            <th>Medicine</th>
            <th>Fun</th>
            <th>Total</th>
            <th>Date <span style="color: red">(system date*)</span></th>
            <th>action</th>

        </tr>
    </thead>
    <tbody>
        {% for member in members %}
        <tr>
            <td>{{ member.fullname }}</td>
            <td>{{ member.food }}</td>
            <td>{{ member.clothes }}</td>
            <td>{{ member.housekeeping }}</td>
            <td>{{ member.medicine }}</td>
            <td>{{ member.fun }}</td>
            <td>{{ member.total}}</td> 
            <td>{{ member.datte}}</td> 

            <td><center><a class="btn btn-sm btn-warning" href="edit/{{ member.id }}"><span class="glyphicon glyphicon-edit"></span> Edit</a> <a class="btn btn-sm btn-danger" href="delete/{{ member.id }}"><span class="glyphicon glyphicon-trash"></span> Delete</a></center></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}